.forecastList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.forecastListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.heading, .temp, .icon {
  font-weight: 700;
  flex: 1;
}
.icon {
  display: flex;
  align-items: center;
}

.forecastList.row .forecastListItem:not(:last-child) {
  border-right: 1px solid #afafaf61;
}

.forecastList.column .forecastListItem:not(:last-child) {
  border-bottom: 1px solid #afafaf61;
}

.min {
  color: #afafaf;
  font-weight: 300;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.forecastList.column .forecastListItem {
  flex-direction: row;
  width: 100%;
}