.container {
  background-color: var(--background-color);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.imgContainer {
  background-color: var(--item-color);
  padding: 20px;
  border-radius: 20px;
  min-height: 300px;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  text-align: center;
}

.formTitle {
  margin-bottom: 20px;
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: #eee;
    box-shadow: 0 0 10px var(--blue-color);
  }
  .imgContainer {
    background-color: #eee;
    border: 1px solid var(--blue-color);
    box-shadow: 0 0 5px var(--blue-color);
  }
}