.container {
  margin: 0 10px;
  padding: 30px;
  width: 100%;
  max-width: 1260px;
  min-height: 400px;
  background-color: var(--background-color);
  position: relative;
  border-radius: 20px ;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.btnsPanel {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}